<footer class="qhse-footer" id="contact">
  <div class="footer-bottom">
    <div class="footer-container footer-bottom-inner">
      <p class="footer-copy">
        &copy; {{ currentYear }} QHSE Analytics. Tous droits réservés.
      </p>
      <div class="footer-bottom-links">
        <div class="footer-links-group">
          <div class="footer-col">
            <h4 class="footer-col-title">Contact</h4>
            <ul>
              <li><a href="mailto:analyticsqhse@gmail.com">analyticsqhse&#64;gmail.com</a></li>
              
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>