<div class="login-page">

  <mat-card class="login-card">


    <div class="brand">
      <div class="brand-icon">
        <mat-icon>bar_chart</mat-icon>
      </div>
      <div>
        <span class="brand-name">QHSE Analytics</span>
        
      </div>
    </div>

    

    <h1 class="card-title">Vérification OTP</h1>
    <p class="card-sub">
      Un code à 6 chiffres a été envoyé à<br>
      <span class="email-hint">{{ maskedEmail }}</span>
    </p>

   
    <label class="field-label">Code de vérification</label>
    <div class="otp-boxes">
      <input
        *ngFor="let box of otpBoxes; let i = index"
        #otpInput
        class="otp-box"
        type="text"
        inputmode="numeric"
        maxlength="1"
        pattern="[0-9]"
        [value]="otpValues[i]"
        (input)="onInput($event, i)"
        (keydown)="onKeydown($event, i)"
        (paste)="onPaste($event)"
      >
    </div>

   
    <div class="timer-row">
      <span class="timer-text">
        Expire dans <strong>{{ timerDisplay }}</strong>
      </span>
      <button class="resend-btn" type="button" (click)="resend()">
        Renvoyer le code
      </button>
    </div>

  
    <button mat-flat-button class="btn-login" (click)="verify()">
      Vérifier
      <mat-icon>arrow_forward</mat-icon>
    </button>

    
    <a routerLink="/login" class="back-link">
      <mat-icon>arrow_back</mat-icon>
      Retour à la connexion
    </a>


    <div class="secure-note">
      <mat-icon>lock</mat-icon>
      Connexion sécurisée 
    </div>

  </mat-card>

</div>